.orderItems {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  margin: 40px 0 15px 0;
  height: 26px;
  :last-child {
    margin-left: auto;
  }
}

.showMoreBtn {
  display: flex;
  justify-content: center;
  bottom: 15px;
  width: 100%;
  position: relative;
}

.orderItemsDetails {
  background-color: var(--secondary-white);
  border-radius: 10px;
  padding: 15px 10px;
  height: 310px;
  overflow: hidden;
}

.orderItemsDetailsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5px;
}

.orderItemsP {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 12px;
  background-color: #f1ece6;
  height: 22px;
  border-radius: 2px;
  padding: 2px 5px;
}

.orderItemsContainer > *:nth-child(odd) {
  background-color: var(--primary-white);
}

.link {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.link:hover {
  color: var(--brown-hover);
}
